doctype html
//if lt IE 9
  html.ie(lang='en') 
//[if gte IE 9]><!
html(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    if current.path.length == 1
      title= name
    else
      title #{title} | Patrick Stoica
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/main.css")
  body
    .container
      header.site-header
        h1.site-title
          a(href="/")= name
        if current.path.length > 1
          h2.page-title= title
          h4.page-subtitle= description
        else
          h2.page-title
            | Web developer, ambient musician,
            br
            | master of the cheap pun.
          h4.page-subtitle Computer Science at Georgia Tech, bound for New York
      .content
        block content
          if !!teaser
            figure.project-teaser
              img(src="/images/#{current.source}/teaser.png")
              figcaption= teaser
          != yield
      nav.nav
        != partial("_nav")
    script(type='text/javascript', src='//use.typekit.net/iul4pro.js')
    script(type='text/javascript').
        try{Typekit.load();}catch(e){}